<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article approval history</title>
</head>
<body>
    <table>
        <tr>
            <td>Article title</td>
            <td>Status</td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>article.title</td>
                <td>article.status</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>